<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
      <h1>Ruby on Rails スケジュール管理</h1>
    </header>
    <%= yield %>
    <footer>
      <h2>Today:<%= Date.current.strftime('%Y/%m/%d') %></h2>
      <h2>現在のスケジュールの数は<%= Post.count %>個です</h2>
    </footer>
  </body>
</html>
